@import url('../../variables.css');

.sidebar::-webkit-scrollbar {
    width: 3px;               /* ширина всей полосы прокрутки */
    min-height: 80%;
}

.sidebar::-webkit-scrollbar-track {
    background: none;        /* цвет зоны отслеживания */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ACB6C3;    /* цвет бегунка */
    border-radius: 15px;       /* округлось бегунка */
    border: none;  /* отступ вокруг бегунка */
}



.sidebar-wrapper {
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    z-index: 2;
}

.sidebar {
    height: 100%;
    width: 400px;
    border-radius: 20px;
    background-color: #fff;
    overflow: auto;
}

.sidebar-main {
    padding: 40px;
}

.filters-drop {
    display: block;
    font-weight: 400;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.sidebar-header span {
    color: var(--main-color-blue);
    font-size: var(--main-font-size);
    width: 158px;
    text-align: center;
    padding: 8px 0;
    border: 1px solid var(--main-color-blue);
    border-radius: 8px 0px 0px 8px;
}

.sidebar-header span:last-child {
    border-radius: 0px 8px 8px 0px;
}

.sidebar-header span:hover {
    cursor: pointer;
}

.sidebar-header span.active {
    color: #fff;
    background: var(--main-color-blue);;
}

.sidebar-header span.active:hover {
    cursor: initial;
}

.client-types .btn {
    margin-bottom: 8px;
}

.client-types .btn:last-child {
    margin-bottom: 0;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background: var(--color-grey);
}

.footer-title {
    color: var(--color-grey2);
    margin: 0 0 10px;
    font-size: 20px;
}

.footer-subtitle {
    font-size: 16px;
    color: var(--color-grey2);
    margin: 0 0 20px;
}

.sidebar-footer-btn {
    padding-left: 25px;
    padding-right: 25px;
}
