@import url('./variables.css');

@font-face {
  font-family: VTB Group UI;
  src: url('./assets/fonts/normal/VTB45Web.ttf');
  font-weight: 400;
}

@font-face {
  font-family: VTB Group UI;
  src: url('./assets/fonts/semibold/VTBGroupUI-SemiBold.ttf');
  font-weight: 500;
}

* {
  font-family: VTB Group UI;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-grey2);
  font-size: var(--main-font-size);
}

.back-link:hover {
  cursor: pointer;
  text-decoration: underline;
  width: max-content;
}

.back-icon {
  margin-right: 12px;
}